# Terraform
.terraform/
terraform/*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.backup

# Ansible
*.retry

# Python
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/
*.code-workspace

# OS specific
.DS_Store
Thumbs.db

# Environment files
.env
.envrc

# Log files
*.log


# Ansible
# Inventory files
ansible/inventory.*

